html,
body {
  margin: 0;
  padding: 0;
  background: #FFF;
}

.poster {
  background: #3D3938;
  height: 100vh;
  width: 680px;
  display: block;
  margin: auto;
  position: relative;
}

.dots {
  height: 810px;
  width: 90%;
  background-color: #EEE;
  background-image: -webkit-radial-gradient(circle, black 26%, transparent 26%, transparent 75%, black 75%, black),
                    -webkit-radial-gradient(circle, black 26%, transparent 26%, transparent 75%, black 75%, black);
  background-image: -o-radial-gradient(circle, black 26%, transparent 26%, transparent 75%, black 75%, black),
                    -o-radial-gradient(circle, black 26%, transparent 26%, transparent 75%, black 75%, black);
  background-image: radial-gradient(circle, black 26%, transparent 26%, transparent 75%, black 75%, black),
                    radial-gradient(circle, black 26%, transparent 26%, transparent 75%, black 75%, black);;
  background-position: 0 0, 30px 30px;
  background-size: 60px 60px;

  position: absolute;
  display: block;
  margin: 0;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
}
