html,
body {
  margin: 0;
  padding: 0;
  background: #FFF;
}

.poster {
  background: #1A1A1A;
  height: 100vh;
  width: 680px;
  display: block;
  margin: auto;
  position: relative;
}

.left-arrow {
  width: 0;
  height: 0;
  border-top: 340px solid #404040;
  border-left: 36.1vh solid transparent;
  float: left;
}

.right-arrow {
  width: 0;
  height: 0;
  border-top: 340px solid #999999;
  border-right: 36.1vh solid transparent;
  float: right;
}